.controls-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 40px 40px 40px 1fr;
  grid-template-rows: 40px 40px;
  align-items: center;
  grid-template-areas:
    "previous play next progress"
    "timer timer timer volume";
  .previous {
    grid-area: previous;
  }
  .next {
    grid-area: next;
  }
  .volume {
    display: flex;
    align-items: center;
    grid-area: volume;
    > div {
      height: 25px;
    }
  }
  .progress {
    grid-area: progress;
  }
  .timer {
    grid-area: timer;
    text-align: center;
    display: block;
  }
  .play {
    grid-area: play;
  }
}

meter::-webkit-meter-bar {
  /* Let's animate this */
  animation: animate-stripes 5s linear infinite;
  background-image:
    linear-gradient(
      135deg,
      transparent,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    );
  background-size: 50px 25px;
}

@keyframes animate-stripes {
  to { background-position: -50px 0; }
}